<h1>Listing announcements</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Position</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @announcements.each do |announcement| %>
  <tr>
    <td><%= announcement.title %></td>
    <td><%= announcement.body %></td>
    <td><%= announcement.start_time %></td>
    <td><%= announcement.end_time %></td>
    <td><%= announcement.position %></td>
    <td><%= link_to 'Show', announcement %></td>
    <td><%= link_to 'Edit', edit_announcement_path(announcement) %></td>
    <td><%= link_to 'Destroy', announcement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Announcement', new_announcement_path %>
